/* Variables */
/* Global value */
h1 {
  font-family: "Shrikhand", serif;
}

h2, h3, p {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
}

h2 {
  font-size: medium;
}

h3 {
  font-weight: 700;
  font-size: x-large;
}

a {
  text-decoration: none;
}

/* Top bar */
body {
  margin: -5px 0 0 0;
}

header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
header h1 {
  margin: 0;
}
header img {
  display: flex;
  padding: 14px;
  margin: auto;
  width: 165px;
}

/* Localisation bar */
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
}
.localisation ::placeholder {
  color: black;
  opacity: 1;
}

/* Section button */
.section_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.section_button h3 {
  font-size: x-large;
  margin: 0 50px 10px 50px;
}
.section_button p {
  margin: 0 30px;
  font-size: large;
}
.section_button h2 {
  margin: 35px 0 30px 0;
  font-weight: 500;
}
.section_button .button {
  padding: 15px;
  width: 200px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(#FF79DA -25%, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
}
.section_button .button:hover {
  filter: brightness(1.15);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.button_order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  margin: 50px auto;
  border: none;
  padding: 15px;
  width: 200px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(#FF79DA -25%, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
}
.button_order:hover {
  filter: brightness(1.15);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Heart container */
.empty-heart {
  color: black;
}
.empty-heart:hover {
  color: #9356DC;
}

.full-heart {
  color: #9356DC;
}

.heart_container {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: -80px;
}
.heart_container .full-heart {
  display: none;
}

input[type=checkbox] {
  appearance: none;
}

input:checked + label .empty-heart {
  display: none;
}
input:checked + label .full-heart {
  display: flex;
  height: 24px;
}

/* Footer */
footer {
  background-color: #353535;
  width: auto;
  padding: 15px 20px;
}

.footer .fa-utensils, .footer .fa-handshake {
  color: white;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer p {
  color: white;
  margin: 7px;
}
.footer_logo {
  font-family: "Shrikhand", serif;
  font-size: 1.1rem;
}

.section_cards {
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1023.5px) {
  body .section_fonctionnement {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
  body .section_fonctionnement ul {
    display: flex;
    flex-direction: row;
  }
  body .section_fonctionnement ul li {
    width: 325px;
    margin-right: 24px;
  }
  body .restaurants_contents {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  body .restaurants_liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  body .restaurants_liste_resto--new {
    transform: scale(1);
  }
  .footer {
    display: flex;
    justify-content: end;
  }
  .footer_1 {
    order: 1;
    padding: 0 50px;
  }
  .footer_2 {
    margin-left: 20px;
  }
}
/* Fonctionnement liste */
.section_fonctionnement li div {
  transition: all 300ms;
}
.section_fonctionnement li div:hover {
  color: #9356DC;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3);
}
.section_fonctionnement li div:hover i {
  color: #9356DC;
}

/* Entrees Plats Dessert */
main .section_cards {
  overflow: hidden;
}
main .section_cards .card {
  opacity: 0;
  transform: translateX(100px);
  animation: slide 350ms forwards;
}
main .section_cards .card_1 {
  animation-delay: 0ms;
}
main .section_cards .card_2 {
  animation-delay: 100ms;
}
main .section_cards .card_3 {
  animation-delay: 200ms;
}
main .section_cards .card_4 {
  animation-delay: 300ms;
}
main .section_cards .card_5 {
  animation-delay: 400ms;
}
main .section_cards .card_6 {
  animation-delay: 500ms;
}
main .section_cards .card_7 {
  animation-delay: 600ms;
}
main .section_cards .card_8 {
  animation-delay: 700ms;
}
main .section_cards .card_9 {
  animation-delay: 800ms;
}
main .section_cards .card_10 {
  animation-delay: 900ms;
}

@keyframes slide {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Loader */
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(5px);
  background-color: white;
  animation: disparition 3s forwards;
}
.background_loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: fixed;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: rotation_global 3s linear forwards;
}
.background_loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 7px solid #9356DC;
  animation: rotations 3s linear forwards;
}

@keyframes disparition {
  45% {
    background-color: white;
  }
  99% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    display: none;
  }
}
@keyframes rotations {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  99% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  100% {
    display: none;
  }
}
@keyframes rotation_global {
  99% {
    transform: rotate(360deg);
  }
  100% {
    display: none;
  }
}
/* Checkbox */
.card:hover .checkbox {
  margin-right: 0px;
}

input:checked + label .check_mark {
  color: #9356DC;
}

/* cursor pointer */
.card, .full-heart, .empty-heart {
  cursor: pointer;
}

/* Nav */
.fa-arrow-left {
  color: black;
  position: absolute;
  top: 15px;
  left: 20px;
}

/* Main structure */
main img {
  position: relative;
  z-index: -1;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: -70px;
}

.section_cards {
  bottom: 60px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  padding: 30px 20px;
}

body h1 {
  margin: 0;
  font-weight: 400;
}

.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.heart_container {
  margin: 0 0 0 20px;
}

/* La carte */
.section {
  margin-bottom: 50px;
}

.title {
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: solid #99E2D0 3px;
  width: 40px;
}

.card {
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
  height: 68px;
}
.card h2, .card p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_price {
  padding: 15px;
  display: flex;
  align-items: end;
  font-size: 15px;
}
.card_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card_text_content {
  padding: 15px;
  overflow: hidden;
}
.card input {
  display: flex;
  margin: 0;
}

/* Checkbox */
.price_check {
  display: flex;
}

.checkbox {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: -50px;
  padding: 15px;
  color: white;
  background-color: #99E2D0;
  transition: all 200ms;
}

/* Button */
main .section_button {
  margin: 20px auto;
  padding: 0;
  border: none;
}
main .section_button h2 {
  margin: 30px 0 0 0;
}
main .section_button .button {
  padding: 15px;
}

/*# sourceMappingURL=restaurants.css.map */
