@import "variables";
@import "global";

/* Section fonctionnement */

.section_fonctionnement {
    margin: 50px 20px;
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 15px;
    }
    li::before {
        content: counter(list-item);
        font-family: $main-font;
        position:relative;
        top: 42px; right: 10px;
        color: white;
        padding: 6px;
        background-color: $primary-color;
        clip-path: circle();
    }
    li:hover {
        .fa-mobile {
            color: $primary-color;
        }
        .fa-list {
            color: $primary-color;
        }
        .fa-store {
            color: $primary-color;
        }
    }
    li div{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $background-color;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 10px 20px;
        gap: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    }
}

/* Section Restaurants */

.restaurants h2 {
    font-size: large;
}

.restaurants p {
    font-size: 17px;
}

.empty-heart {
    color: black;
}

.restaurants {
    padding: 40px 0 60px 0;
    background-color: $background-color;
    margin-bottom: 0;
    h3 {
        padding-left: 20px;
    }
    &_liste {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        &_resto {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            height: 250px;
            width: auto;
            margin: 0 20px;
            box-sizing: border-box;
            background-color: white;
            &:hover {
                .empty-heart {
                    color: $primary-color;
                }
            }
            img {
                height: 170px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
            &_content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin: auto 15px;
                h2, p {
                    margin: 0;
                    color: black;
                }
            }
        }
    }
}
