/* Global value */

h1 {
  font-family: $title-font;
}

h2,h3,p {
  font-family: $main-font;
}

p {
  font-weight: 300;
}

h2 {
  font-size: medium;
}

h3 {
  font-weight: 700;
  font-size: x-large;
}

a {
  text-decoration: none;
}

/* Top bar */

body {
  margin: 0;
}

header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  position: relative;
  z-index: 1;
  h1 {
    margin: 0;
  }
  img {
    display: flex;
    padding: 14px;
    margin: auto;
    width: 165px;
  }
}

/* Localisation bar */

.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $background-color-darker;
  gap: 17px;
}

/* Section button */

.section_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 30px 0;
  text-align: center;
  background-color: $background-color;
  h3 {
    font-size: x-large;
    margin: 0 50px 10px 50px;
  }
  p {
    margin: 0 30px;
    font-size: large;
  }
  h2 {
    margin: 35px 0 30px 0;
    font-weight: 500;
  }
  .button {
    padding: 15px;
    width: 200px;
    border-radius: 25px;
    color: white;
    background: linear-gradient($secondary-color -25%, $primary-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: all 200ms;
    &:hover {
      filter: brightness(1.15);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}

/* Heart container */

.empty-heart {
  color: black;
  &:hover {
        color: $primary-color;
  }
}

.full-heart {
  color: $primary-color;
}

.heart_container {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: -80px;
  .full-heart {
  display: none;
  }
}

input[type='checkbox'] {
  appearance: none;
}

input:checked + label {
  .empty-heart {
      display: none;
  }
  .full-heart {
      display: flex;
      height: 24px;
  }
}

/* Footer */

footer {
  background-color: $background-color-footer;
  width: auto;
  padding: 15px 20px;
}

.footer {
  .fa-utensils,.fa-handshake {
    color: white;
  }
  a{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  p {
    color: white;
    margin: 7px;
  }
  &_logo {
    font-family: $title-font;
    font-size: 1.1rem;
  }
}