//* Responsive adjustment *//

.section_cards {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1023.5px) {

body {
    .section_fonctionnement {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        ul {
            display: flex;
            flex-direction: row;
            li {
                width: 325px;
                margin-right: 24px;
            }
        }
    }
    .restaurants {
        &_contents {
            max-width: 1080px;
            margin-left: auto;
            margin-right: auto;
        }
        &_liste {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1080px;
            margin-left: auto;
            margin-right: auto;
            &_resto--new {
                transform: scale(1);
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: end;
    &_1 {
        order: 5;
        padding: 0 50px;
    }
    &_2 {
        margin-left: 20px;
    }
}

}

